.head{
  height: 40vh;
  width: 100vw;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calorieCount {
  display: flex;
}

#calorieGoalForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh;
}
#calorieGoalForm input{
  margin-bottom: 1vh;
}
#setGoal {
  width: fit-content;
}
/* #qr-reader{
  margin: 0 auto 10px;
  height: fit-content;
  border: none;
  display: none;
}
#qr-reader img, #qr-reader__dashboard_section_swaplink {
  display: none;
} */
#macros{
  text-align: center;
  display: none;
}
#macroForm{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#macroForm input{
  margin-bottom: 5px;
}
#showScanner{
  margin: 5px;
}

#meals{
  display: flex;
  flex-direction:row-reverse;
  width: 100vw;
  margin: auto;
  justify-content: center;
  flex-wrap: wrap;
}
.mealCard{
  min-width: 150px;
  margin: 5px 5px;
}
.mealCard p{
  margin: 0;
}
.mealCard p:first-of-type{
  display: flex;
  justify-content: space-between;
}
.mealCard span{
  color: red;
  border: red 1px solid;
  padding: 0 4px;
  cursor: pointer;
}